@import "../../scss/settings/variables";

.portfolio-grafika-container {
    padding-top: 40px;
    margin: 0 auto;
    // text-align: center;
    height: fit-content;
    h1 {
        margin-bottom: 0;
    }
}

.carousel-graphics-title{
    margin-bottom: 1.5em;
}

.grafika-images ul {
    padding: 0;
}

.grafika-list {
    border: 1px solid red;
}

.carousel-caption {
    color: black;
}

a [class^="carousel-control"] {
    background-color: $accent-color;
    border-radius: 5px;
}

.carousel-indicators [data-bs-target] {
    background-color: $accent-color;
    width: 20px;
    border-radius: 5px;
}
    
.carousel-img {
    // border: 1px solid red;
    height: auto;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.carousel-item {
        height: 65vh;
        text-align: center;
}

.gallery-item-container {
        margin: 0 auto;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        .gallery-img {
            width: 80%;
            height: auto;
        }
        hr {
            opacity: 0.5;
            color: $accent-color;
            height: 2px;
            width: 50%;
            margin-bottom: 30px;
        }
}

    li:last-child .gallery-item-container hr {
        display: none;
}

.zoom-info {
        color:rgba(0, 0, 0, 0.3);
        font-size: 0.8em;
        margin-bottom: 15px;
}

.spinner-container {
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
}