@import "../../scss/settings/variables";

.portfolio-react-container {
    flex: 1;
}

.react-images {
    height: 70vh;
}

@media(max-width: 960px) {
    .react-images {
        height: fit-content;
    }
}

.gallery-react-item-container {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .gallery-react-item-title {
        font-weight: 500;
        // margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
    hr {
        opacity: 0.5;
        color: $accent-color;
        height: 2px;
        width: 50%;
        margin-bottom: 30px;
    }
}

li:last-child .gallery-react-item-container hr {
    display: none;
}

.react-images ul {
    padding: 0px 10px;
}

.gallery-carousel-video {
    margin-bottom: 30px;
}

.carousel-title {
    margin-bottom: 1rem;
}

h6 {
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    // line-height: 2em;
    // margin-top: 5px;
}

@media(max-width: 960px) {
    h6 {
    font-size: 0.8em;
    }
}

.carousel {
    height: 100%;
}

.carousel-caption {
    padding-bottom: 0
}

.react-links {
    margin-top:15px;
    display: flex;
    justify-content: center;
}

.portfolio-react-link {
    padding: 2px 15px;
    background-color: lightgrey;
    width: 80px;
    border-radius: 30px;
    margin-left: 3px;
    margin-right: 3px;
    font-size: small;
    border: 1px solid transparent;
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 2em;
    &:hover {
        cursor: pointer;
        background-color: $accent-color;
        color: white;
    }

}

