@import "../../scss/settings/variables";



h1 {
    font-size: 45px;
    font-family: $font-base, sans-serif;
    font-weight:600;
}

.home-container {
    height: 75vh;
    .home-container-foto {
        background: url("pp_foto.png") no-repeat center/cover;
        height: 300px;
        width: 300px;
        border-radius: 50%;
    }
    
}