@import "../../scss/settings/variables";



h1 {
    font-size: 2em;
    font-family: $font-base, sans-serif;
    font-weight:600;
    margin-bottom: 1em;
}

p {
    line-height: 1.5em;
}

.home-container {
    // background: url("pp_foto.png") no-repeat center/cover;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 50px;
    .home-container-foto {
        background: url("pp_foto.png") no-repeat center/cover;
        height: 170px;
        width: 170px;
        border-radius: 50%;
        margin-bottom: 2em;
    }
    .home-container-text {
        text-align: center;
        width: 65%;
    }
    
}

@keyframes pulse {
    from {
        color: black;
    }

    to {
        color: $accent-color;
    }
}

.strong-text {
    text-decoration: none;
    font-weight: 600;
    color: black;
    &:hover {
        // color: $accent-color;
        // transition: 0.5s ease-in-out;
        animation: pulse 0.5s infinite alternate;
    }
}
