.home-footer {
    font-size: small;
    color: darkgrey;
    border-top: 1px solid lightgrey;
    padding-top: 1em;
    text-align: center;
    margin-bottom: 25px;
    p:before {
        content:"\00a9";
        margin-right: 3px;
      }
  
}

@media(min-width: 960px) and (min-height: 920px) {
  .home-footer {
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 1200px;
  }
}
